---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Kapcsolat',
  description:
    'Vedd fel velünk a kapcsolatot weboldal fejlesztés, karbantartás, CRM vagy automatizálás témában, és kérj személyre szabott ajánlatot.',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="Kapcsolat" title="Beszéljünk a projektedről" />

  <section id="form" class="relative not-prose scroll-mt-[72px]">
    <div class="mx-auto max-w-3xl px-4 text-center sm:px-6 lg:px-8">
      <div class="mx-auto mt-8 max-w-2xl text-left">
        <script is:inline src="https://js-eu1.hsforms.net/forms/embed/147796801.js" defer></script>
        <div
          class="hs-form-frame"
          data-region="eu1"
          data-form-id="d67206e9-e3fd-4ba9-8eca-da1543477b49"
          data-portal-id="147796801"
        >
        </div>
      </div>
    </div>
  </section>

  <Features2
    title="Miben tudunk segíteni?"
    items={[
      {
        title: 'Általános kérdések',
        description: `Segítünk eligazodni a szolgáltatások között, és közösen pontosítjuk, melyik megoldás illik legjobban az üzleti céljaidhoz.`,
      },
      {
        title: 'Ajánlatkérés',
        description: 'Weboldal fejlesztésre, karbantartásra, CRM-re vagy automatizálásra kérhetsz egyedi ajánlatot.',
      },
      {
        title: 'Technikai egyeztetés',
        description:
          'Meglévő rendszered bővítéséhez, hibajavításhoz vagy integrációkhoz is tudunk technikai támogatást adni.',
      },
      // {
      //   title: 'Telefon',
      //   description: '+36 30 123 4567',
      //   icon: 'tabler:headset',
      // },
      // {
      //   title: 'E-mail',
      //   description: 'hello@matyaswebstudio.hu',
      //   icon: 'tabler:mail',
      // },
      // {
      //   title: 'Székhely',
      //   description: 'Magyarország',
      //   icon: 'tabler:map-pin',
      // },
    ]}
  />
</Layout>
