---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { getFooterData, getHeaderData } from '~/navigation';
import { getLanguageSwitcherLinks, getLocaleFromPath } from '~/utils/i18n-routing';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const locale = getLocaleFromPath(Astro.url.pathname);
const headerData = getHeaderData(locale);
const footerData = getFooterData(locale);
const languageLinks = getLanguageSwitcherLinks(Astro.url.pathname);
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <!-- <Announcement /> -->
  </slot>
  <slot name="header">
    <Header {...headerData} languageLinks={languageLinks} isSticky position="right" />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
